.header{
    height: 64px;
    background-color: #2e86de;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    line-height: 64px;
    letter-spacing: 15px;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
}
.chat-container .conversation-title{
    height: 64px;
    font-size: 23px;
    color: #222f3e;
    text-align: center;
    line-height: 64px;
    border-bottom: 1px solid #dbdbdb;
    font-weight: 700;
}
.chat-container{
    height: 100vh;
}
.chat-container .main{
    height: calc(100vh - 64px);
}
.chat-container .main .conversation-detail{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.conversation-detail .list-message{
    flex-grow: 1;
    overflow-y: auto;
}
.chat-container #send-message-form{
    position: relative;
}
#send-message-form button{
    color: #2e86de;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 30px;
    border: 0px;
    background: none;
    outline: none;
}
#send-message-form .input-wrapper{
    margin: 0px;
}
#send-message-form .input-wrapper input{
    padding:20px;
    width: 98%;
    outline: none;
    border: none;
}

#send-message-form {
    border: 1px solid #dbdbdb;
}
.list-message .message .content{
    width: max-content;
    padding: 10px 10px;
    border-radius: 4px;
    max-width: 45%;
    margin-bottom: 10px;
    font-size: 1em;
    word-wrap: break-word;
}
.list-message .message.mine{
    display: flex;
    justify-content: flex-end;
}
.list-message .message.mine .content{
    background: #2e86de;
    color: whitesmoke;
}
.list-message .message.their .content{
    background-color: #dbdbdb;
}
.chat-container .list-message{
    padding: 10px;
} 
 